* {
  /*se formatean margenes y bordes*/
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*concepto del modelo de caja, esto evita que las cajas crezcan a causa
  de los magrin, padding y los bordes agregados*/
}
/* Header*/
.header {
  background-color: brown;
  display: flex;
  align-items: center;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.header .logo {
  width: 30%;
}

.header .logo a {
  color: khaki;
  font-size: 2em;
  text-decoration: none;
  transition: all .4s;
}
.header .logo a:hover{
    color: #fff;
}

.header .navegacion {
  width: 70%;
}

.header .navegacion ul {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header .navegacion ul li a {
  font-size: 1.5em;
  text-decoration: none;
  color: khaki;
  transition: all 0.4s;
  margin: 0 15px;
}

.header .navegacion ul li a:hover {
  color: #fff;
}

/*
  MAIN
*/
main{
  background:  url('../images/florez.jpg') no-repeat;
  background-size: cover;
  height: 90vh;
}

.home{
  font-size: 15em;
  text-align: center;
  color: #fff;
}

.form{
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.253);
  margin: auto;
  padding: 20px;
  background-color: #fff;
  width: 30%;  
  min-height: 250px;
  top: 50px;
}

.form h3{
  font-size: 1.8em;
  text-align: center;

}

.form .img-login{
  width: 70px;
  overflow: hidden;
  margin:auto;
  border-radius: 50px;
    
}
.form .img-login img{
  display: block;
  width: 100%;
}
.form form{
  width: 100%; 
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.2em;  
}
.form form .btn button{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all .2s;
  font-size: 1em;
}

.form form .btn button:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.253);
}

.form form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

.form form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;  
  font-size: 1em;
}
.form form .input-busqueda{
  display: flex;
}
.form form .input-busqueda button{
  margin: 8px 0px 8px 5px;
  padding: 14px 4px;
  border-radius: 4px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: all .2s;
  font-size: 1em;
  
}

  /*
    FOOTER
  */
.footer{
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: khaki;
  position: fixed;
  bottom: 0; 
  width: 100%;
}